.config
.gitconfig
.mozilla

.Xauthority
.bash_history
.bash_logout
.bashrc
.cache
.local
.profile
.python_history
.selected_editor
.ssh
.wget-hsts
.xsession-errors
Downloads
InstallStuff
Netzclub
Screenshots_20230303
absturz
timeout
backup
couponsBurgerKing
couponsMcDonalds
flatastic
kleinanzeigen
mail
mealie
payback
prospektEdeka
prospektRewe
task-spooler_1.0-1_amd64.deb
tspBackup

*.tar.gz
/dailyscripts.sh

/prospektKaufland/website.txt
/prospektLidl/website.txt
/websiteChanged/websites.txt

/bplaced/credentials.txt

.~lock.*
*.csv
*.html
geckodriver.log
