.config
.gitconfig
.mozilla

.Xauthority
.bash_history
.bash_logout
.bashrc
.cache
.local
.profile
.selected_editor
.ssh
.wget-hsts
.xsession-errors
Downloads
InstallStuff
Netzclub
Screenshots_20230303
absturz
timeout
backup
bplaced
couponsBurgerKing
couponsMcDonalds
flatastic
kleinanzeigen
mail
mealie
pancake
payback
prospektAldi
prospektEdeka
prospektHolAb
prospektKaufland
prospektLidl
prospektRewe
task-spooler_1.0-1_amd64.deb
tspBackup

*.tar.gz
/dailyscripts.sh
/websiteChanged/websites.txt
